//-------------------------
//-------------------BLOCK GMAIL
//-------------------------
.b-gmail {
  margin: 0 auto 4.5rem;
  text-align: center;
  &__icon {
    display: block;
    margin-bottom: 2.7rem;
    margin-top: 0.6rem;
    img {
      margin: 0 auto;
      display: block;
    }
  }
  &__title {
    font-size: 31px;
    font-weight: bold;
    color: $keppel;
    letter-spacing: 0.03rem;
  }

  //pop up window
  &-popup {
    background-color:$nero;
    border-radius: 6px;
    width: 958px;
    padding: 1rem 1.3rem 3rem;
    color: $silver;
    @include centerer;
    &__btn-close {
        color: $zambezi;
      cursor: pointer;
      display: block;
      font-family: verdana;
      font-size: 25px;
      font-weight: 100;
      position: absolute;
      right: 0.9rem;
      text-align: right;
      top: 0.4rem;

    }
    &__title {
      font-size: 1.5rem;
      margin-bottom: 1.4rem;
      margin-top: 0.2rem;
      text-align: left;
    }
    &__search {
    border-bottom: solid 1px $grey;
      clear: both;
      padding-bottom: 1.4rem;
      text-align: left;
      .form-group {
        position: relative;
        width: 41.333%;
        input {
          position: relative;
          width: 100%;
          border-radius: 7px;
        }
        button {
          background-color: transparent;
          border: medium none;
          height: 32px;
          position: absolute;
          width: 32px;
          right: 0.2rem;
          top: 0;
        }
        .fontelloIcon {
          font-size: 22px;
          position: absolute;
          right: 0.4rem;
          top: 0.2rem;
            color: $zambezi;
        }
      }
    }
    &__list {
      height: 316px;
      padding:1rem 0rem 1rem 1.8rem;
      .form-group {
        @extend .clearfix;
        margin-bottom: 1.7rem;
        display: inline-block;
        vertical-align: middle;
        width: 100%;
      }
      &-left {
        float: left;
        .checkbox {
          margin-right: 0.5rem;
          display: inline-block;
          vertical-align: middle;
        }
        span {
          display: inline-block;
          vertical-align: middle;
        }
      }
      &-right {
        float: right;
      }
    }
    &__footer {
      border-top: solid 1px $grey;
      padding: 1rem 1.8rem 1rem 1.88rem;
      .form-group {
        @extend .clearfix;
        margin-bottom: 1.7rem;
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        &--top {
          text-align: left;
          .checkbox {
            margin-right: 0.5rem;
            display: inline-block;
            vertical-align: middle;
          }
          span {
            display: inline-block;
            vertical-align: middle;
          }
        }
        &--bottom {
          float: left;
          width: 100%;

          .c-btn-primary {
            float: left;
            margin-left: 1rem;
          }
          .c-btn-secondary {
            float: right;
          }
        }
      }
      // &-left {
      //   float: left;
      //   .checkbox {
      //     margin-right: 0.5rem;
      //     display: inline-block;
      //     vertical-align: middle;
      //   }
      //   span {
      //     display: inline-block;
      //     vertical-align: middle;
      //   }
      // }
      // &-right {
      //   float: right;
      // }
    }
  }

}
