//-------------------------
//-------------------BLOCK TABLE NEW USERS TABLE
//-------------------------

&--user {
  // Column widths are based on these cells
  th, td {
    border: solid 1px $zambezi;
    text-transform: none;
    color: $white;
    vertical-align: middle;

  }
  th {
    padding: 1.4rem 1rem 1rem;
  }
  td {
    font-size: 14px;
    line-height: 3;
    padding: 0rem 1rem;
  }

  .row-1 {
    width:170px;
    //padding-left: 1.2rem;
  }
  .row-2 {
    width:170px;
  }
  .row-3 {
    width:230px;
  }
  .row-4 {
    width:160px;
  }
  .row-5 {
    width:90px;
  }
  .row-6 {
    width:130px;
  }

  .b-table__header th {
    font-size: 16px;
    font-weight: bold;
  }

  .c-modal-user {
    font-style: italic;
    color: $keppel;
    font-weight: bold;
  }
}
