//-------------------------
//-------------------BLOCK TABLE NEW USERS TABLE
//-------------------------

&--admin-assistant {
  // Column widths are based on these cells

  .row-1 {
    width:200px;
    //padding-left: 1.2rem;
  }
  .row-2 {
    width: 170px;
  }
  .row-3 {
    width: 210px;
  }
  .row-4 {
    width: 195px;
  }
  .row-5 {
    width: 120px;
  }
  .row-6 {
    width: 140px;
    //  padding-right: 1.2rem;
  }


  .user-role {
    display: table-cell;
    vertical-align: middle;
    overflow: visible;
    .c-dropdown {
      float: left;
    .nice-select.open .list {
      min-width: 159px;
    }
    }
  }
  .b-table__footer  {
    text-align: right;
    .c-btn {
      // display: inline-block;
      margin: 3rem 1rem 0rem 0;
      padding: 0 1.2rem;
    }
  }
  .user-contact {
    text-align: right;
  }
}
