//-------------------------
//-------------------BLOCK TABLE NEW USERS TABLE
//-------------------------

&--new-users {
  // Column widths are based on these cells

      .row-1 {
          width:230px;
        //  padding-left: 1.2rem;
      }
      .row-2 {
          width: 365px;
      }
      .row-3 {
          width: 75px;
      }
      .row-4 {
          width: 120px;
      }
      .row-5 {
              width: 120px;
      }
      .row-6 {
              width: 126px;
          //    padding-right: 1.2rem;
      }

}
