///------------------------------------
//    #SETTINGS
//------------------------------------

// Globaly available variables





//-------------------------
//    #Wrapper
//    Global default settings
//	  for wrappers
//-------------------------

.wrapper-main {
  position: relative;
  margin: 0 auto;
  background-color:$background;
  max-width: 1366px;
   @extend .clearfix;
}

.wrapper-content {
  min-height: 100vh;
  padding-top: 5rem;
  padding-left: 14.4rem;
  padding-right:0;
  padding-bottom: 2rem;
  float: left;
}

.wrapper-content-inner {
    background-color: $night;
    &.full-width {
        width: 100%;
        min-width: 1094px;
        padding: 1.6rem 1.8rem;
    }
    &.two-coll {
      background-color: transparent;
      width: 100%;
      min-width: 1094px;
    }
}

.wrapper-col3 {
  float: left;
  width: 100%;
    margin-top: 1.1rem;
}
