///------------------------------------
//    #SETTINGS
//------------------------------------

// Globaly available variables





//-------------------------
//    #Wrapper
//    Global default settings
//	  for wrappers
//-------------------------

.wrapper-main {
  position: relative;
  margin: 0 auto;
  background-color:$background;
  width: 1366px;
   @extend .clearfix;
}

.wrapper-content {
  min-height: 100vh;
  padding-top: 8rem;
  padding-left: 14.4rem;
  padding-right:0;
  padding-bottom: 8rem;
  float: left;
}

.wrapper-col3 {
  float: left;
  width: 100%;
    margin-top: 1.1rem;
}
