///------------------------------------
//    #SETTINGS
//------------------------------------

// Globaly available variables





//-------------------------
//    #Colors
//    Global default settings
//	  for colors
//-------------------------


$black: #000;
$white: #fff;
$background: #222222;
$nero: #292929;
$zambezi: #5A5A5A;
$nightrider: #2F2F2F;
$silver:#c6c6c6;
$keppel:#5ca395;
$spring: #24FF94;
$eclipse: #3F3F3F;
$russian:#212332;
$night: #2D2D2D;
$charcoal: #434343;
$grey: #767676;
$slate: #748092;
$dim: #676767;
