///------------------------------------
//    #SETTINGS
//------------------------------------

// Globaly available variables





//-------------------------
//    #Links
//    Global default settings
//	  for hyperlinks
//-------------------------





 $color-links:                  $silver;
 $color-links-visited:          $silver;
 $color-links-hover:            $spring;


a {
  color: $color-links;
  text-decoration: none;

  &:visited {
    color: $color-links-visited;
  }

  &:hover {
    color: $color-links-hover;
  }


}
