///------------------------------------
//    #SETTINGS
//------------------------------------

// Globaly available variables





//-------------------------
//    #Typography
//    Global default settings
//	  for typography
//-------------------------

//import google fonts for projects here instead in head of html
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i);


//------FONT-FACE
// below is an example of how to include fonts

// @include fontFaceExternal (Helnuboldconde, /helveticaneue-boldcond-webfont, null, null, eot woff ttf svg);
@include fontFace (fontello, /fontello, null, null, eot woff ttf svg);



//------FONT FAMILY VARIBALE


$fontDefault: Arial, Helvetica, Tahoma, sans-serif;
$baseFont:    'Noto Serif', $fontDefault;
$iconFontello: 'fontello';




//------GLOBAL FONT SETTINGS FOR HEADERS - must be here
body {
    font-size: 100%;
    font-family: $baseFont;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 3rem;
}
