///------------------------------------
//    #SETTINGS
//------------------------------------

// Globaly available variables





//-------------------------
//    #Typography
//    Global default settings
//	  for typography
//-------------------------


//------FONT-FACE
// below is an example of how to include fonts

@include fontFaceExternal (notoserif-regular-webfont, /notoserif-regular-webfont, null, null, eot woff ttf svg);
// @include fontFaceExternal (notoserif-bold-webfont, /notoserif-bold-webfont, null, null, eot woff ttf svg);
// @include fontFaceExternal (notoserif-bolditalic-webfont, /notoserif-bolditalic-webfont, null, null, eot woff ttf svg);
// @include fontFaceExternal (notoserif-italic-webfont, /notoserif-italic-webfont, null, null, eot woff ttf svg);
@include fontFace (fontello, /fontello, null, null, eot woff ttf svg);



//------FONT FAMILY VARIBALE


$fontDefault: Arial, Helvetica, Tahoma, sans-serif;
$baseFont:    'notoserif-regular-webfont', $fontDefault;
// $baseFont-bold:    'notoserif-bold-webfont', $fontDefault;
// $baseFont-bold-italic:    'notoserif-bolditalic-webfont', $fontDefault;
// $baseFont-italic:    'notoserif-italic-webfont', $fontDefault;
$iconFontello: 'fontello';




//------GLOBAL FONT SETTINGS FOR HEADERS - must be here
body {
    font-size: 100%;
    font-family: $baseFont;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 3rem;
}
