///------------------------------------
//    #SETTINGS
//------------------------------------

// Globaly available classes





//-------------------------
//    Global default settings
//	  for ceratin classes
//-------------------------

//we need this for scrollbar
html, body {
  height: 100%;
  background: $background;
}


.page-title {
  font-size: 30px;
  color: $silver;
  letter-spacing: 0.05rem;
  display: inline-block;
  margin-top: 2.75rem;
}

.fontelloIcon {
  font-family: $iconFontello;
}

.b-title {
  color: $silver;
  font-size: 24px;
  display: inline-block;
  margin-bottom: 2.8rem;
  margin-left: 1.9rem;
}
