//-------------------------
//-------------------BLOCK SALES has chart
//-------------------------
.b-chart-sales {
  background-color: $night;
  float: left;
  margin-bottom: 0.2rem;
  margin-top: 1.1rem;
  width: 1093px;
  .b-title {
    padding-top: 2rem;
  }
  .c-dropdown {
    margin-right: 1.8rem;
    margin-top: 2.1rem;
    &__title {
      margin-right: 0.8rem;
    }
  }
  // //overwrite defaults
  // .ct-series-b .ct-point,
  // .ct-series-b .ct-line,
  // .ct-series-b .ct-bar,
  // .ct-series-b .ct-slice-donut {
  //   stroke: #256c5e;
  // }
}
