//-------------------------
//-------------------BLOCK SALES has chart
//-------------------------
.b-chart-sales {
  background-color: $night;
  float: left;
  height: 498px;
  margin-right: 1.1rem;
  padding-top: 1.6rem;
  width: 717px;
}
