//-------------------------
//-------------------PRODUCT block search
//-------------------------
.b-search {
    display: inline-block;
    margin-right: 1.5rem;
    margin-left: 0.3rem;
    &__title {
        display: block;
        font-size: 14px;
        letter-spacing: 0.05rem;
        margin-bottom: 0.8rem;
        margin-right: 0;
        color: $silver;
    }
    .form {
        position: relative;
        .form-input {
            border-radius: 2rem;
            line-height: 2.8;
            width: 223px;
            padding: 0 2.2rem 0 1rem;

        }
        button {
            background-color: transparent;
            border: medium none;
            height: 32px;
            position: absolute;
            width: 32px;
            right: 0.45rem;
            top: 0.4rem;
            cursor: pointer;
        }
        .fontelloIcon {
            font-size:18px;
            position: absolute;
            right: 0.4rem;
            top: 0.2rem;
            color: $silver;
        }
    }
}
