//-------------------------
//-------------------BLOCK ADD PRICE
//-------------------------
.b-add-price {
  display: inline-block;
  position: relative;
  margin-left: 2rem;
  margin-right: 1rem;
  &__header {

    color: $white;
    display: block;
    position: relative;
    text-align: right;
    top: -7px;
    &-currency {
      font-size: 20px;
    }
    &-price {
      font-size: 30px;
      font-weight: bold;
    }
  }
  .c-btn {
    line-height: 1.9;
    min-width: 125px;
    padding: 0;
    font-size: 16px;
    margin-bottom: 0.6rem;
  }
}
