//-------------------------
//-------------------BLOCK LIST ADMINS
//-------------------------
.b-list-admins {
  background-color: $night;
  float: left;
    width: 357px;
  .b-title {
    background-color: $charcoal;
    display: block;
    font-size: 20px;
    margin-bottom: 0;
    margin-left: 0;
    padding-bottom: 2rem;
    padding-top: 1.6rem;
    text-align: center;
  }
  .b-list-wrapper {
    display: block;
    height: 403px;
       margin-bottom: 1rem;
    li {
      border-bottom: solid 1px $grey;
      float: left;
      padding-bottom: 1.05rem;
       padding-top: 1.05rem;
      width: 340px;
    }
  }
  &__avatar {
    display: block;
    float: left;
    padding-left: 1rem;
    vertical-align: middle;
    width: 68px;
    div {

      border-radius: 2rem;
      border-color:$slate;
      border-style: solid;
      padding: 0.12rem;
      display: block;
      margin-bottom: 0.62rem;
      border-width: 2px;
      width: 54px;
      height: 54px;
    }
    .job-title {
      font-size: 12px;
      color: $keppel;
     margin-left: 0.12rem;
      text-align: center;
    }
  }
  &__content {
    display: block;
     float: left;
     letter-spacing: 0.015rem;
     line-height: 1.2;
     min-height: 76px;
     padding-left: 1rem;
     padding-top: 0.4rem;
     position: relative;
     width: 267px;
    .info {
      .name {
        color: $white;
        font-size: 16px;
      }
      // .action {
      //   color: $silver;
      //   font-size: 14px;
      // }
    }
    .status {
      bottom: 0;
        font-size: 12px;
        position: absolute;
        right: 0;
        text-align: right;
      .inactive {
        color: $dim;
      }
      .active {
        color: $spring;
      }

    }
  }

  //overwrite defaults for scrollbar
  .mCSB_inside > .mCSB_container {
    margin-right: 0;
  }
}

//modification for board page
.two-coll .b-list-admins .b-list-wrapper {
  height: 927px;
}
