//-------------------------
//-------------------SIDEBAR block search
//-------------------------
.b-search {
  display: none;
  line-height: 1.5;
  position: relative;
  padding-left: 1.5rem;
  margin: 0.5rem 0;
  form {
    line-height: 1.7;
  }

  &__submit {
    font-family: $iconFontello;
    background-color: transparent;
    border: none;
    color: $silver;
  }
  &__input {
    background-color: $nero;
    border: none;
    color: $silver;
    font-size: 12px;
    line-height: 2.2;
    width: 145px;
    padding-left: 0.5rem;
  }
}
