//-------------------------
//-------------------BLOCK LIST EVENTS
//-------------------------
.b-list-events {
  @extend .clearfix;
  background-color:$noonrider;
  width: 740px;
  min-height: 516px;
  float: left;
  padding: 1.8rem 0 1.8rem 1.2rem;
  max-height: 513px;
  overflow: hidden;
  &__current {
     padding-bottom: 1.2rem;
    border-bottom: solid 1px #404040;
    .date {
      font-size: 25px;
      color: $silver;
    }
    .event-number {
      font-size: 16px;
      color: $keppel;
    }
  }
  &__details {
    cursor: pointer;
    border-bottom: solid 1px #404040;
      padding: 1.2rem 0.1rem 0;
    .show-more {
      font-size: 1rem;
      color:$silver;
      display: block;
      position: relative;
   text-align: right;
   top: -0.25rem;
      line-height: 1.2;
       max-width: 97%;
    }
  }
  &__full {
    display: none;
    border-top: solid 1px #404040;
    padding: 0.7rem 0;
  }
  .event-author {
    color: $silver;
    font-size: 14px;
    text-transform: uppercase;
     margin-bottom: 1rem;
  }
  .event-author-avatar {
    display: inline-block;
    vertical-align: middle;

      margin-right: 0.55rem;
    div {
      border-radius: 2rem;
      width:43px;
      height:43px;
    }
  }
  .info {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.6;
    .event-author-name {
      font-style: italic;
      font-weight: bold;
      font-size: 16px;
      color: $keppel;
      display: block;
    }
    .event-author-title {
      font-size: 12px;
      color: $silver;
      display: block;
    }
  }
  .event-title,
  .event-start,
  .event-end,
  .event-place,
  .event-type {
    font-size: 14px;
    color: $silver;
    text-transform: uppercase;
    line-height: 0.78;
     @extend .clearfix;
    span {
      display: block;
      text-align: right;
      text-transform: none;
      color: $white;
    }
  }
  .c-btn {
    // display: inline-block;
    margin-top: 1.3rem;
    margin-bottom: 0.3rem;
  }
}
