//-------------------------
//-------------------PAGE cms banner
//-------------------------


.page-cms .form.page-cms__banner {
    position: relative;
    label, .b-covers h3 {
        font-size: 14px;
        color: $white;
        margin-bottom: 10px;
    }
    .form-group {
      display: inline-block;
        width:49.777%;
           vertical-align: top;
        input {
            line-height: 2.2;
            border-radius: 20px;
            width: 100%;
            padding: 0 1rem;
            border-color: $matterhorn;
        }

        textarea {
            border-radius: 20px;
            width: 95%;
            border-color: $matterhorn;
            background-color: $night;
            border-style: solid;
            border-width: 1px;
            line-height: 1.5;
            font-size: 14px;
            color: $hit;
            overflow: hidden;
            height: 100px;
            padding: 0.5rem 1rem;
            &:focus {
                border-width: 1px;
            }
        }
    }


    .col-full {
        border-bottom: solid 1px $matterhorn;
        position: relative;
        @extend .clearfix;
        padding-bottom: 1.8rem;
        margin-bottom: 1.3rem;

        &.bottom {
            border-bottom: none;
            .form-control {
              display: inline-block;
              margin-right: 0.8rem;
    width: 20%;
            }
            span {
              color: $greyt;
              font-size: 1.2rem;
        font-weight: bold;
        margin-right: 1rem;
            }
            .c-btn {
                padding: 0;
                min-width: 100px;
                line-height: 35px;
            }
        }
    }


    .btn {
        clear: both;
        text-align: right;
            margin-top: 1rem;
        .c-btn {
            padding: 0;
            min-width: 100px;
            line-height: 30px;
        }
    }
}
