//-------------------------
//-------------------PAGE cms
//-------------------------

.page-cms {
  @extend .clearfix;

  &__title {
    font-size: 25px;
    font-weight: bold;
    color: $keppel;
    letter-spacing: 0.04rem;
    margin-bottom: 2.6rem;
  }

  .form {
    @extend .clearfix;

    &.page-cms__blog,
    .col-ctc,
    .col-five,
    .col-four,
    .col-three {
      @extend .clearfix;

      h3,
      label {
        color: $white;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 16px;
      }

      .note {
        color: $keppel;
        font-size: 12px;
        margin: 5px 0;
      }

      .form-group {
        display: block;
        float: left;
        width: 381px;
        padding: 0 36px;
        margin-left: -36px;
        margin-right: 0;

        input {
          line-height: 2.2;
          border-radius: 20px;
          width: 100%;
          padding: 0 1rem;
          border-color: $matterhorn;
        }
      }
      //block covers
      &.b-covers {
        margin-bottom: 8px;

        .form-group-input {
          .add-img {
            border-style: dashed;
            border-width: 1px;
            border-color: $matterhorn;
            border-radius: 20px;
            height: 123px;
            position: relative;
            overflow: hidden;
          }

          label {
            font-style: italic;
            color: $hit;
            font-weight: normal;
            font-size: 20px;
            @include centerer;
            text-align: center;
          }

          .add-img-wrapper {
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;

            div {
              width: 100%;
              height: 100%;
            }

            .hide {
              bottom: 0;
              height: 100%;
              left: 0;
              position: absolute;
              right: 0;
              top: 0;
              width: 100%;

              input {
                opacity: 0;
                height: 100%;
                cursor: pointer;
              }
            }
          }
        }
      }
      //b-titles
      &.b-titles {
        margin-bottom: 39px;
        margin-top: 32px;
      }

      &.b-texts {
        .form-control {
          border-radius: 20px;
          width: 100%;
          border-color: $matterhorn;
          background-color: $night;
          border-style: solid;
          border-width: 1px;
          line-height: 1.5;
          font-size: 14px;
          color: $hit;
          overflow: hidden;
          height: 106px;
          padding: 0.5rem 1rem;

          &:focus {
            border-width: 1px;
          }
        }
      }
    }

    .b-dropdown {
      .c-dropdown-wrapper {
        display: block;
        float: left;
        margin-left: -12px;
        margin-right: 0;
        padding: 0 12px;
        width: 271px;

        .form-group {
          width: 104px;
          position: relative;
          margin: 0;
          padding: 0;

          .ui-datepicker-trigger {
            cursor: pointer;
            left: 13px;
            position: absolute;
            top: 36px;
            width: 15px;
          }

          input {
            background-color: transparent;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            border-radius: 2rem;
            border: solid 1px $matterhorn;
            color: $silver;
            box-sizing: border-box;
            cursor: pointer;
            display: inline-block;
            font-family: inherit;
            font-size: 12px;
            font-weight: normal;
            height: 35px;
            line-height: normal;
            outline: none;
            padding-left: 38px;
            padding-right: 0;
            position: relative;
            text-align: left !important;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            white-space: nowrap;
            width: 116px;
          }

          label {
            color: $silver;
            font-size: 12px;
            //  letter-spacing: 0.05rem;
            //  display: inline-block;
            //  margin-bottom: 1rem;
          }

          &--left {
            margin-right: 20px;

            &:after {
              // color: $matterhorn;
              // content: "-";
              // display: block;
              // position: absolute;
              // right: -0.8rem;
              // top: 49%;
            }
          }
        }
      }
    }

    .btn-bottom-page {
      margin-top: 1.8rem;
      text-align: right;
      width: 1024px;

      .c-btn {
        padding: 0;
        min-width: 100px;
        line-height: 2.1;
      }

      &.home {
        width: 1000px;
      }

      &.partners {
        margin-top: 0;
        width: 868px;
      }
    }

    .slideDetails {
      width: 100%;
      display: none;
      position: relative;

      .remove {
        position: absolute;
        right: 11rem;
        top: -1.8rem;
        font-size: 20px;
      }
    }
  }
  //block trigger
  .b-trigger {
    margin-left: 10px;
    margin-top: -9px;

    a {
      color: $lightg;
      display: inline-block;
      vertical-align: middle;
      font-style: italic;
      font-size: 14px;

      .icon {
        &-plus {
          background: url('../images/icon-plus.png') no-repeat scroll 0 0 / 89% auto;
          width: 47px;
          height: 47px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 0.4rem;
        }

        &-minus {
          background: url('../images/icon-minus.png') no-repeat scroll 0 0 / 89% auto;
          width: 47px;
          height: 47px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 0.4rem;
        }
      }
    }
  }
}
//overwrites
//col-four

.page-cms .form .col-four {
  .form-group {
    display: block;
    float: left;
    width: 271px;
    padding: 0 12px;
    margin-left: -12px;
    margin-right: 0;
  }

  h3,
  label {
    font-size: 14px;
    font-weight: normal;
  }
}
//col-five

.page-cms .form .col-five {
  .form-group {
    display: block;
    float: left;
    width: 219px;
    padding: 0 12px;
    margin-left: -12px;
    margin-right: 0;
  }

  h3,
  label {
    font-size: 14px;
    font-weight: normal;
  }

  h4 {
    font-weight: bold;
    font-size: 16px;
    color: $white;
    margin-bottom: 27px;
  }

  &.b-titles__profit-calc {
    .btn-bottom-page {
      width: auto;
      clear: both;
      margin: 0;
      padding-top: 1.5rem;
    }

    .percentage {
      font-size: 16px;
      color: $white;
      font-weight: bold;
    }

    .form-group-input {
      margin-bottom: 16px;

      input {
        width: 60%;
      }
    }

    .green {
      height: 1px;
      width: 100%;
      clear: both;
      border: 0;
      background-color: $keppel;
      margin: 1.05rem 0 2rem;
      float: left;
    }
  }
}
//col ctc - mix content

.page-cms .form .col-ctc {
  padding-top: 15px;
  border-bottom: solid 1px $matterhorn;
  margin-bottom: 2rem;
  padding-bottom: 0.8rem;
  width: 868px;

  h3,
  label {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 15px;
  }

  .note {
    margin: 7px 0;
  }

  .b-covers {
    margin-bottom: 8px;
    float: left;

    .form-group {
      margin-left: -30px;
      margin-right: 0;
      padding: 0 30px;
      width: 200px;
    }

    .form-group-input {
      .add-img {
        border-style: dashed;
        border-width: 1px;
        border-color: $matterhorn;
        border-radius: 20px;
        height: 100px;
        position: relative;
        overflow: hidden;
      }

      label {
        font-style: italic;
        color: $hit;
        font-weight: normal;
        font-size: 18px;
        @include centerer;
        text-align: center;
      }

      .add-img-wrapper {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;

        div {
          width: 100%;
          height: 100%;
        }

        .hide {
          bottom: 0;
          height: 100%;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;

          input {
            opacity: 0;
            height: 100%;
            cursor: pointer;
          }
        }
      }
    }
  }

  .b-titles {
    float: left;

    .form-group {
      margin-left: -30px;
      margin-right: 0;
      padding: 0 30px;
      width: 360px;
    }
  }

  .b-texts {
    float: left;

    .form-group {
      width: 350px;
      float: left;
      margin-left: 0;
      margin-right: 0;
      padding: 0;
    }

    .form-control {
      border-radius: 20px;
      width: 100%;
      border-color: $matterhorn;
      background-color: $night;
      border-style: solid;
      border-width: 1px;
      line-height: 1.5;
      font-size: 14px;
      color: $hit;
      overflow: hidden;
      height: 95px;
      padding: 0.5rem 1rem;

      &:focus {
        border-width: 1px;
      }
    }
  }
}
//progress bar

.cms-progress {
  background-color: #222222;
  border: 1px solid #2e2e2e;
  bottom: 0;
  height: 10px;
  position: relative;
  width: 100%;

  &-bar {
    background-color: #24ff94;
    border: 1px solid #000;
    bottom: 0;
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }
}
