//-------------------------
//-------------------PAGE add new user
//-------------------------

.page-products-set-prices {
    &__title {
        font-size: 25px;
        font-weight: bold;
        color: $keppel;
        letter-spacing: 0.04rem;
        margin-bottom: 1.8rem;
        margin-top: 0;
    }
    .form-block-title  {
        font-weight: bold;
        font-size: 18px;
        color: $silver;
        margin-bottom: 1.2rem;
    }
    .form {
        @extend .clearfix;
        .c-dropdown {
            margin-right: 0;
            float: none;
            display: block;
            margin-bottom: 1.8rem;

            .nice-select {
                border-color: $matterhorn;
                min-width: 200px;
                height: 36px;
                line-height: 33px;
                vertical-align: middle;
            }
            p {
                font-size: 19px;
                font-weight: bold;
                color: $white;
                display: inline-block;
                vertical-align: middle;
                margin-left: 1rem;
            }
        }
        .col-left {
            float: left;
            width: 333px;
            width: 345px;
        }
        .col-middle{
            float: left;
            width: 311px;
            width: 345px;
        }
        .col-right{
            float: left;
            width: 340px;
            width: 345px;
        }
        .form-group {
            label {
                font-size: 14px;
                display: inline-block;
                color: $hit;
                margin-right: 1.8rem;
                width: 175px;
                margin-right: 0;
            }
            .currency {
                font-size: 16px;
                color: $white;
                margin-right: 0.6rem;
            }
            input {
                display: inline-block;
                border-radius: 12px;
                width: 100px;
                margin-bottom: 0.5rem;
                line-height:2;
                font-size: 12px;
                border-color: $matterhorn;
                color: $white;
            }
        }
        .col-middle .form-group label {
            width: 188px;
        }
        .col-right .form-group label {
            width: 189px;
        }
    }
    .btns {
        clear: both;
        text-align: right;
        position: relative;
        top: -0.5rem;
        margin-right: 2.1rem;
        .c-btn {
            min-width: 98px;
            padding: 0;
            line-height: 2;
            margin-left: 1rem;
        }
    }
    &.frames {
        .form-block-title {
            margin-bottom: 1rem;
            font-size: 16px;
        }
        .col-left {
            width: 405px;
            p {
                color: $hit;
                font-size: 14px;
                margin-bottom: 1.1rem;
            }
        }
        .col-right {
            width: 404px;
            p {
                color: $hit;
                font-size: 14px;
                margin-bottom: 1.3rem;
            }
        }
        .form-group {
            .frame-img {
                display: inline-block;
                height: 37px;
                margin: 0 auto;
                text-align: center;
                vertical-align: middle;
                width: 32px;
                margin-right: 0.3rem;
                span {
                    display: inline-block;
                    height: 28px;
                    margin: 0 auto;
                    position: relative;
                    text-align: center;
                    vertical-align: middle;
                    img {
                        display: inline-block;
                        height:28px;
                        margin: 0 auto;
                        text-align: center;
                        vertical-align: middle;
                    }
                }
            }
            label {
                vertical-align: top;
                width: 189px;
                margin-bottom: 0;
                line-height: 1;
                span {
                    display: block;
                }
            }

        }
        .btns {
            top: -2.2rem;
    float: right;
        }
    }
}
