//-------------------------
//-------------------PAGE log in
//-------------------------

.page-login {
  margin: 0 auto;
  height: 100vh;
  width: 100vh;
  display: table;
  vertical-align: top;
  text-align: center;

  &__title {
    text-transform: uppercase;
    color: $keppel;
    font-weight: 600;
    font-size: 45px;
    margin:2.8rem 0 5.5rem 0.5rem;
    letter-spacing: 0.06rem;
  }
  &-wrapper {
    display: table-cell;
    vertical-align: top;
    position: relative;

  }
  &__b-logo {
    background-color: $eron;
    border: 2px solid $zambezi;
    border-radius: 79px;
    height: 101px;
    left: 43%;
    padding: 1rem 0 0;
    position: absolute;
    text-align: center;
    top: -11%;
    width: 102px;
    img {
      left: -2px;
      margin: 0 auto;
      position: relative;
      top: 2px;
    }
  }
  &-content {
    background-color: $nightrider;
    width: 565px;
    height: 465px;
    margin:0 auto;
    position: relative;
    padding-top: 5.5rem;
  }
  &-form {
    max-width: 270px;
    margin: 0 auto;
    text-align: left;
    .note-welcome {
      color:$hit;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 3rem;
      text-align: left;
    }
    .note-message {
      color:$hit;
      text-align: right;
      font-size: 12px;
      margin-top: 0.35rem;
      margin-bottom: 1.3rem;
    }
    .form-group {
      margin-top: 1.75rem;
      .form-control {
          width: 100%;
      }
    }
    .control-label {
      font-size: 14px;
      margin-bottom: 2.1rem;
      input {
        margin: 0 6px 0 -2px;
        width: auto;
        border-radius: 0;
        line-height: normal;
      }
    }
    .c-btn {
      float: right;
      margin-right: 0.5rem;
      // display: inline-block;
      // width: 125px;
    }
  }
}
