//-------------------------
//-------------------PAGE PRODUCTS
//-------------------------

.page-products {
  height: 780px;
  overflow: hidden;
  width: 100%;
  &__title {
    font-size: 25px;
    font-weight: bold;
    color: $keppel;
    letter-spacing: 0.04rem;
    margin-bottom: 2.5rem;
    display: inline-block;
  }
  &__head {
    border-bottom: solid 1px $matterhorn;
    padding-bottom: 2px;
    margin-top: 1rem;
    p {
      width: 237px;
      font-size: 16px;
      padding-bottom: 1.2rem;
      padding-left: 2rem;
      text-transform: uppercase;
      display: table-cell;
      color: $white;
    }
  }
  &-top__filter {
    float: right;
    margin-top: -3px;
    .c-dropdown {
      float: none;
      display: inline-block;
      margin-right: 1rem;
      &__title {
        display: block;
        font-size: 14px;
        letter-spacing: 0.05rem;
        margin-bottom: 0.8rem;
        margin-right: 0;
      }
      .nice-select {
        min-width: 186px;
        .list {
          min-width: 186px;
        }
      }
    }
  }
  //delete requests
  &.delete-requests {
    .b-list-products__preview .col-5 {
      width: 210px;
      text-align: right;
    }
  }
  //other requests
  &.other-requests {
    height: auto;
    padding-bottom: 2rem;
    .col-top {
      @extend .clearfix;
      margin-bottom: 5rem;
      margin-top: 0.7rem;
      overflow: hidden;
      position: relative;
    }
    .col-bottom {
      @extend .clearfix;
      border-top: solid 1px #383838;
      overflow: hidden;
      padding-top: 3rem;
      position: relative;
    }
    .col-content {
      float: left;
      margin-right: 1.5rem;
      padding-right: 0.7rem;
      position: relative;
      width: 320px;
      &:after {
        content: '';
        height: 100vh;
        width: 1px;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #383838;
      }
      .header {
        position: static;
        width: 100%;
        background-color: $night;
        z-index: 1;
        h3 {
          border-bottom: 1px solid #505050;
          color: #fff;
          display: inline-block;
          font-size: 20px;
          font-weight: bold;
          padding-bottom: 1.1rem;
          padding-right: 0.6rem;
          float: left;
        }
        h4 {
          font-size: 14px;
          color: #fff;
          margin-top: 4px;
          display: block;
          float: left;
          margin-left: 2.5rem;
        }
      }
      .scrollThis {
        float: left;
        height: 170px;
        overflow: hidden;
        width: 100%;
      }
      .data {
        display: block;
        padding-top: 1rem;
        > li {
          display: block;
          float: left;
          width: 100%;
          p, span {
            display: inline-block;
          }
          p {
            color: $lightg;
            line-height: 2.45;
            display: inline-block;
            float: left;
          }
          .category {
            position: absolute;
            left: 0;
          }
          .number {
            width: 100%;
            text-align: center;
            position: relative;
          }
          .icons {
            position: absolute;
            right: 0;
          }
          span {
            display: inline-block;
            margin-right: 3px;
            margin-bottom: -4px;
            margin-top: 5px;
            a {
              position: relative;
              display: block;
              img {
                width: 85%;
              }
              &:hover {
                position: relative;
                &:before {
                  display: block;
                  font-size: 12px;
                  line-height: normal;
                  padding: 6px 14px;
                  position: absolute;
                  right: 2rem;
                  top: 0;
                  z-index: 2;
                  background-color: $black;
                  color: $white;
                }
              }
              &.add.hover:before {
                content: "Add";
              }
              &.decline.hover:before {
                content: "Decline";
              }
            }
          }
        }
      }
    }
  }
}

//details page GLOBAL style
.page-products-details {
  margin-top: 1rem;
  margin-bottom: 2rem;
  &-wrapper {
    @extend .clearfix;
  }
  .page-products__title {
    display: block;
    font-size: 25px;
    margin-bottom: 1.3rem;
    .fontelloIcon {
      display: block;
      margin-bottom: 1.7rem;
      color: $keppel;
    }
  }
  .left-col {
    float: left;
    width: 516px;
    border-right: solid 1px $matterhorn;
  }
  .product-media {
    float: left;
    width: 288px;
    .product-image {
      &__full {
        background-color: #f0eced;
        border: solid 1px #d0cecf;
        display: inline-block;
        height: 250px;
        margin: 0 auto 1rem auto;
        text-align: center;
        vertical-align: middle;
        width: 250px;
        a {
          display: inline-block;
          height: 250px;
          margin: 0 auto;
          position: relative;
          text-align: center;
          vertical-align: middle;
          padding: 1rem;
          img {
            display: inline-block;
            height: 218px;
            margin: 0 auto;
            text-align: center;
            vertical-align: middle;
          }
        }
      }
      &__thumb--video {
        position: relative;
        padding-bottom: 50%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        margin: 0;
        width: 250px;
        iframe,
        object,
        embed,
        .youtube-box {
          position: absolute;
          top: 0;
          left: 0;
          width: 100% !important;
          height: 100% !important;
          right: 0;
          bottom: 0;
        }
        .youtube-box {
          background-size: 100% 100%;
        }
      }
    }
  }
  .product-info-list {
    float: left;
    width: 219px;
    &__title {
      font-size: 20px;
      font-weight: bold;
      color: $keppel;
      letter-spacing: 0.04rem;
      margin-bottom: 1rem;
    }
    ul {
      .object,
      .value {
        font-size: 14px;
        display: inline-block;
        line-height: 2.1;
      }
      .object {
        color: $white;
        width: 108px;
      }
      .value {
        color: $silver;
      }
      p.tags span {
        overflow-wrap: break-word;
        display: block;
      }
    }
  }
  .btns {
    clear: both;
    float: left;
    margin-top: 3rem;
    .c-btn {
      margin-right: 0.6rem;
      min-width: 100px;
      padding: 0;
      &.c-btn-rejected {
        cursor: default;
      }
    }
  }
  .product-info-text {
    float: left;
    padding-left: 2rem;
    width: 500px;
    h3 {
      color: $white;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 1.3rem;
      text-transform: uppercase;
    }
    p {
      color: $silver;
      font-size: 14px;
      line-height: 1.3;
    }
  }
  &.books {
    .left-col {
      width: 540px;
    }
    .product-info-text {
      clear: both;
      float: none;
      padding-left: 0;
      padding-top: 0.8rem;
    }
    .product-info-list {
      padding-left: 3.8rem;
      width: 490px;
      margin-top: -2.7rem;
      .object {
        width: 193px;
      }
    }
  }
  .link__art-mail {
    display: inline-block;
    position: relative;
    left: -1.3rem;
    top: -0.12rem;
    font-size: 14px;
    a {
      color: $keppel;
    }
    .fontelloIcon {
      display: block;
      text-align: center;
      font-size: 19px;
      position: relative;
      top: 0.8rem;
      left: -0.2rem;
      color: $silver;
    }
  }
}
