//-------------------------
//-------------------PAGE DISCOUNT LIST
//-------------------------

.page-discount-list {

  &__title {
    font-size: 25px;
    font-weight: bold;
    color: $keppel;
    letter-spacing: 0.04rem;
    margin-bottom: 2.7rem;
    margin-top: 1.2rem;
  }

}
