//-------------------------
//-------------------PAGE new users
//-------------------------

.page-new-users {
    &__title {
        font-size: 25px;
        font-weight: bold;
        color: $keppel;
        letter-spacing: 0.04rem;
        margin-bottom: 2.1rem;
    }
}
