//-------------------------
//-------------------BLOCK ID
//-------------------------
.b-id{
  float: left;
  margin-top: 2.5rem;
  &__title {
    font-size: 20px;
    color: $keppel;
    font-weight: bold;
    margin-bottom: 1.3rem;
  }
  &__image {
margin-bottom: 0.8rem;

  }
  &__link {
    font-style: italic;
    font-size: 14px;
    color: $spring;


  }
}
