html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  outline: none;
}

a:active, .c-dropdown a.nice-select.open,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper-main {
  position: relative;
  margin: 0 auto;
  background-color: #222222;
  max-width: 1366px;
}

.wrapper-content {
  min-height: 100vh;
  padding-top: 8rem;
  padding-left: 14.4rem;
  padding-right: 0;
  padding-bottom: 2rem;
  float: left;
}

.wrapper-col3 {
  float: left;
  width: 100%;
  margin-top: 1.1rem;
}

a {
  color: #c6c6c6;
  text-decoration: none;
}
a:visited {
  color: #c6c6c6;
}
a:hover {
  color: #24FF94;
}

@font-face {
  font-family: "notoserif-regular-webfont";
  src: url("../fonts/notoserif-regular-webfont.eot?") format("eot"), url("../fonts/notoserif-regular-webfont.woff") format("woff"), url("../fonts/notoserif-regular-webfont.ttf") format("truetype"), url("../fonts/notoserif-regular-webfont.svg#notoserif-regular-webfont") format("svg");
}
@font-face {
  font-family: "fontello";
  src: url("../fonts/fontello.eot?") format("eot"), url("../fonts/fontello.woff") format("woff"), url("../fonts/fontello.ttf") format("truetype"), url("../fonts/fontello.svg#fontello") format("svg");
}
body {
  font-size: 100%;
  font-family: "notoserif-regular-webfont", Arial, Helvetica, Tahoma, sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 3rem;
}

html, body {
  height: 100%;
  background: #222222;
}

.page-title {
  font-size: 30px;
  color: #c6c6c6;
  letter-spacing: 0.05rem;
  display: inline-block;
  margin-top: 2.75rem;
}

.fontelloIcon {
  font-family: "fontello";
}

.b-title {
  color: #c6c6c6;
  font-size: 24px;
  display: inline-block;
  margin-bottom: 2.8rem;
  margin-left: 1.9rem;
}

form label {
  font-size: 16px;
  color: #ACADAD;
  line-height: 1.3;
  margin-bottom: 0.4rem;
  display: block;
}

form input {
  background-color: transparent;
  border-radius: 2px;
  border-color: #ACADAD;
  border-width: 1px;
  border-style: solid;
  width: 100%;
  line-height: 2.1;
  color: #ACADAD;
  padding: 0 0.5rem;
  font-size: 14px;
}

.b-header {
  height: 97px;
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
.b-header__inner {
  height: 97px;
  margin: 0 auto;
  padding: 0 2rem 0 13.55rem;
  position: relative;
  width: 1336px;
  border-bottom: solid 1px #5A5A5A;
  background-color: #2F2F2F;
}
.b-header__user {
  display: inline-block;
  float: right;
  margin-top: 1.8rem;
}
.b-header__user-data {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
  line-height: 1.3;
}
.b-header__user-avatar {
  display: inline-block;
  position: relative;
  top: -0.7rem;
  vertical-align: middle;
}
.b-header__user-avatar img {
  border-radius: 2rem;
}
.b-header__user-name {
  font-size: 16px;
  color: #c6c6c6;
}
.b-header__user-role {
  font-size: 14px;
  color: #5ca395;
}

.b-sidebar {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 203px;
  background-color: #292929;
  z-index: 2;
}
.b-sidebar__inner {
  background-color: #292929;
  border-right: solid 1px #5A5A5A;
  bottom: 0;
  height: 100%;
  position: fixed;
  width: 202px;
}
.b-sidebar .fontelloIcon {
  color: #c6c6c6;
  padding-left: 1.3rem;
  padding-right: 1rem;
}
.b-sidebar .fontelloIcon--user {
  padding-left: 0.8rem;
  padding-right: 0;
}
.b-sidebar .b-search {
  display: none;
  line-height: 1.5;
  position: relative;
  padding-left: 1.5rem;
  margin: 0.5rem 0;
}
.b-sidebar .b-search form {
  line-height: 1.7;
}
.b-sidebar .b-search__submit {
  font-family: "fontello";
  background-color: transparent;
  border: none;
  color: #c6c6c6;
}
.b-sidebar .b-search__input {
  background-color: #292929;
  border: none;
  color: #c6c6c6;
  font-size: 12px;
  line-height: 2.2;
  width: 145px;
  padding-left: 0.5rem;
}
.b-sidebar .b-menu li {
  line-height: 2.79;
}
.b-sidebar .b-menu li.active, .b-sidebar .b-menu li:hover {
  border-right: solid 4px #24FF94;
  background-color: #3F3F3F;
}
.b-sidebar .b-menu li:hover {
  -webkit-transition: background-color 0.8s;
  -moz-transition: background-color 0.8s;
  -ms-transition: background-color 0.8s;
  -o-transition: background-color 0.8s;
  transition: background-color 0.8s;
}
.b-sidebar .b-menu li a {
  display: table;
  vertical-align: middle;
  width: 100%;
}
.b-sidebar .b-menu li a:hover .fontelloIcon,
.b-sidebar .b-menu li a:hover .right-open-mini {
  color: #24FF94;
}
.b-sidebar .b-menu li a:hover .notification {
  background-color: #5A5A5A;
}
.b-sidebar .b-menu li a:hover .notification .number {
  color: #fff;
}
.b-sidebar .b-menu li.last {
  margin-top: 1rem;
  border-top: solid 1px #5A5A5A;
}
.b-sidebar .b-menu li.last .fontelloIcon,
.b-sidebar .b-menu li.last a {
  color: #5ca395;
  font-size: 22px;
}
.b-sidebar .b-menu .notification {
  background-color: #24FF94;
  border-radius: 4rem;
  width: 1.25rem;
  display: inline-block;
  height: 1.25rem;
  position: relative;
  vertical-align: middle;
  margin-left: 1.7rem;
  top: -0.05rem;
}
.b-sidebar .b-menu .notification--user {
  margin-left: 3.2rem;
}
.b-sidebar .b-menu .notification .number {
  position: absolute;
  color: #212332;
  font-size: 12px;
  top: 0;
  left: 0;
  line-height: 1.65;
  width: 1.25rem;
  height: 1.25rem;
  text-align: center;
}

.b-logo {
  border-bottom: solid 1px #5A5A5A;
  padding: 1.1rem 0 1.4rem;
  text-align: center;
}
.b-logo img {
  margin: 0 auto;
}

.ct-series-a .ct-bar {
  /* Colour of your bars */
  stroke: inherit;
  /* The width of your bars */
  stroke-width: 36px;
  /* Yes! Dashed bars! */
  stroke-dasharray: 0;
  /* Maybe you like round corners on your bars? */
}

.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: blue;
}

.ct-series-b .ct-line,
.ct-series-b .ct-point {
  stroke: green;
}

.ct-label {
  fill: #c6c6c6;
  color: #c6c6c6;
  font-size: 0.75rem;
  line-height: 1;
}

.ct-chart-line .ct-label,
.ct-chart-bar .ct-label {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.ct-chart-pie .ct-label,
.ct-chart-donut .ct-label {
  dominant-baseline: central;
}

.ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-label.ct-vertical.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end;
}

.ct-label.ct-vertical.ct-end {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-chart-bar .ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-anchor: start;
}

.ct-chart-bar .ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-anchor: start;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-start {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-end {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: end;
}

.ct-grid {
  stroke: #4f5156;
  stroke-width: 1px;
  stroke-dasharray: none;
}

.ct-grid-background {
  fill: none;
}

.ct-point {
  stroke-width: 10px;
  stroke-linecap: round;
}

.ct-line {
  fill: none;
  stroke-width: 4px;
}

.ct-area {
  stroke: none;
  fill-opacity: 0.1;
}

.ct-bar {
  fill: none;
  stroke-width: 10px;
}

.ct-slice-donut {
  fill: none;
  stroke-width: 60px;
}

.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
  stroke: #256c5e;
}
.ct-series-a .ct-slice-pie, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-area {
  fill: #256c5e;
}

.ct-series-b .ct-point, .ct-series-b .ct-line, .ct-series-b .ct-bar, .ct-series-b .ct-slice-donut {
  stroke: #24ff94;
}
.ct-series-b .ct-slice-pie, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-area {
  fill: #24ff94;
}

.ct-series-c .ct-point, .ct-series-c .ct-line, .ct-series-c .ct-bar, .ct-series-c .ct-slice-donut {
  stroke: #256c5e;
}
.ct-series-c .ct-slice-pie, .ct-series-c .ct-slice-donut-solid, .ct-series-c .ct-area {
  fill: #256c5e;
}

.ct-series-d .ct-point, .ct-series-d .ct-line, .ct-series-d .ct-bar, .ct-series-d .ct-slice-donut {
  stroke: #24ff94;
}
.ct-series-d .ct-slice-pie, .ct-series-d .ct-slice-donut-solid, .ct-series-d .ct-area {
  fill: #24ff94;
}

.ct-series-e .ct-point, .ct-series-e .ct-line, .ct-series-e .ct-bar, .ct-series-e .ct-slice-donut {
  stroke: #256c5e;
}
.ct-series-e .ct-slice-pie, .ct-series-e .ct-slice-donut-solid, .ct-series-e .ct-area {
  fill: #256c5e;
}

.ct-series-f .ct-point, .ct-series-f .ct-line, .ct-series-f .ct-bar, .ct-series-f .ct-slice-donut {
  stroke: #24ff94;
}
.ct-series-f .ct-slice-pie, .ct-series-f .ct-slice-donut-solid, .ct-series-f .ct-area {
  fill: #24ff94;
}

.ct-series-g .ct-point, .ct-series-g .ct-line, .ct-series-g .ct-bar, .ct-series-g .ct-slice-donut {
  stroke: #256c5e;
}
.ct-series-g .ct-slice-pie, .ct-series-g .ct-slice-donut-solid, .ct-series-g .ct-area {
  fill: #256c5e;
}

.ct-series-h .ct-point, .ct-series-h .ct-line, .ct-series-h .ct-bar, .ct-series-h .ct-slice-donut {
  stroke: #24ff94;
}
.ct-series-h .ct-slice-pie, .ct-series-h .ct-slice-donut-solid, .ct-series-h .ct-area {
  fill: #24ff94;
}

.ct-series-i .ct-point, .ct-series-i .ct-line, .ct-series-i .ct-bar, .ct-series-i .ct-slice-donut {
  stroke: #256c5e;
}
.ct-series-i .ct-slice-pie, .ct-series-i .ct-slice-donut-solid, .ct-series-i .ct-area {
  fill: #256c5e;
}

.ct-series-j .ct-point, .ct-series-j .ct-line, .ct-series-j .ct-bar, .ct-series-j .ct-slice-donut {
  stroke: #24ff94;
}
.ct-series-j .ct-slice-pie, .ct-series-j .ct-slice-donut-solid, .ct-series-j .ct-area {
  fill: #24ff94;
}

.ct-series-k .ct-point, .ct-series-k .ct-line, .ct-series-k .ct-bar, .ct-series-k .ct-slice-donut {
  stroke: #256c5e;
}
.ct-series-k .ct-slice-pie, .ct-series-k .ct-slice-donut-solid, .ct-series-k .ct-area {
  fill: #256c5e;
}

.ct-series-l .ct-point, .ct-series-l .ct-line, .ct-series-l .ct-bar, .ct-series-l .ct-slice-donut {
  stroke: #24ff94;
}
.ct-series-l .ct-slice-pie, .ct-series-l .ct-slice-donut-solid, .ct-series-l .ct-area {
  fill: #24ff94;
}

.ct-series-m .ct-point, .ct-series-m .ct-line, .ct-series-m .ct-bar, .ct-series-m .ct-slice-donut {
  stroke: #256c5e;
}
.ct-series-m .ct-slice-pie, .ct-series-m .ct-slice-donut-solid, .ct-series-m .ct-area {
  fill: #256c5e;
}

.ct-series-n .ct-point, .ct-series-n .ct-line, .ct-series-n .ct-bar, .ct-series-n .ct-slice-donut {
  stroke: #24ff94;
}
.ct-series-n .ct-slice-pie, .ct-series-n .ct-slice-donut-solid, .ct-series-n .ct-area {
  fill: #24ff94;
}

.ct-series-o .ct-point, .ct-series-o .ct-line, .ct-series-o .ct-bar, .ct-series-o .ct-slice-donut {
  stroke: #256c5e;
}
.ct-series-o .ct-slice-pie, .ct-series-o .ct-slice-donut-solid, .ct-series-o .ct-area {
  fill: #256c5e;
}

.ct-square {
  display: block;
  position: relative;
  width: 100%;
}
.ct-square:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 100%;
}
.ct-square:after {
  content: "";
  display: table;
  clear: both;
}
.ct-square > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-minor-second {
  display: block;
  position: relative;
  width: 100%;
}
.ct-minor-second:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 93.75%;
}
.ct-minor-second:after {
  content: "";
  display: table;
  clear: both;
}
.ct-minor-second > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-second {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-second:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 88.88889%;
}
.ct-major-second:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-second > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-minor-third {
  display: block;
  position: relative;
  width: 100%;
}
.ct-minor-third:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 83.33333%;
}
.ct-minor-third:after {
  content: "";
  display: table;
  clear: both;
}
.ct-minor-third > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-third {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-third:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 80%;
}
.ct-major-third:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-third > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-perfect-fourth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-perfect-fourth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 75%;
}
.ct-perfect-fourth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-perfect-fourth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-perfect-fifth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-perfect-fifth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 66.66667%;
}
.ct-perfect-fifth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-perfect-fifth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-minor-sixth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-minor-sixth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 62.5%;
}
.ct-minor-sixth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-minor-sixth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-golden-section {
  display: block;
  position: relative;
  width: 100%;
}
.ct-golden-section:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 61.8047%;
}
.ct-golden-section:after {
  content: "";
  display: table;
  clear: both;
}
.ct-golden-section > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-sixth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-sixth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 60%;
}
.ct-major-sixth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-sixth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-minor-seventh {
  display: block;
  position: relative;
  width: 100%;
}
.ct-minor-seventh:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 56.25%;
}
.ct-minor-seventh:after {
  content: "";
  display: table;
  clear: both;
}
.ct-minor-seventh > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-seventh {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-seventh:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 53.33333%;
}
.ct-major-seventh:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-seventh > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-octave {
  display: block;
  position: relative;
  width: 100%;
}
.ct-octave:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 50%;
}
.ct-octave:after {
  content: "";
  display: table;
  clear: both;
}
.ct-octave > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-tenth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-tenth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 40%;
}
.ct-major-tenth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-tenth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-eleventh {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-eleventh:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 37.5%;
}
.ct-major-eleventh:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-eleventh > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-twelfth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-twelfth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 33.33333%;
}
.ct-major-twelfth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-twelfth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-double-octave {
  display: block;
  position: relative;
  width: 100%;
}
.ct-double-octave:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 25%;
}
.ct-double-octave:after {
  content: "";
  display: table;
  clear: both;
}
.ct-double-octave > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.b-chart-sales {
  background-color: #2D2D2D;
  float: left;
  margin-bottom: 2rem;
  margin-top: 1.1rem;
  width: 1093px;
}
.b-chart-sales .b-title {
  padding-top: 2rem;
}
.b-chart-sales .c-dropdown {
  margin-right: 1.8rem;
  margin-top: 2.1rem;
}
.b-chart-sales .c-dropdown__title {
  margin-right: 0.8rem;
}
.b-chart-sales .ct-series-b .ct-point,
.b-chart-sales .ct-series-b .ct-line,
.b-chart-sales .ct-series-b .ct-bar,
.b-chart-sales .ct-series-b .ct-slice-donut {
  stroke: #256c5e;
}

.b-orders {
  background-color: #2D2D2D;
  float: left;
  height: 498px;
  margin-right: 1.1rem;
  width: 717px;
}
.b-orders .b-title {
  background-color: #434343;
  display: block;
  font-size: 20px;
  margin-bottom: 0;
  margin-left: 0;
  padding-bottom: 1.9rem;
  padding-left: 2.5rem;
  padding-top: 1.8rem;
}
.b-orders__legend {
  color: #c6c6c6;
  float: right;
  font-size: 14px;
  line-height: 1.9;
  padding-right: 1.5rem;
  padding-top: 0.9rem;
}
.b-orders__legend span {
  padding-right: 1rem;
}
.b-orders__legend .orders {
  color: #5ca395;
}
.b-orders__legend .delivered {
  color: #24FF94;
}
.b-orders .ct-orders {
  clear: both;
  float: left;
}
.b-orders .ct-label.ct-horizontal.ct-end {
  text-align: center;
  font-size: 14px;
  display: inline-block;
}

.b-profile {
  background-color: #2D2D2D;
  float: left;
  width: 348px;
  min-height: 380px;
  margin-right: 1.3rem;
}
.b-profile .b-title {
  background-color: #434343;
  display: block;
  font-size: 20px;
  margin-bottom: 0;
  margin-left: 0;
  padding-bottom: 1.7rem;
  padding-top: 2rem;
  text-align: center;
}
.b-profile__legend {
  color: #c6c6c6;
  float: right;
  font-size: 14px;
  line-height: 1.9;
  padding-right: 1.7rem;
  padding-top: 1.3rem;
}
.b-profile__legend span {
  padding-right: 1rem;
}
.b-profile__legend .reviews {
  color: #5ca395;
}
.b-profile__legend .approved {
  color: #24FF94;
}
.b-profile .ct-profile {
  clear: both;
  float: left;
  padding-top: 0.5rem;
}
.b-profile .ct-profile .ct-label {
  font-size: 30px;
  dominant-baseline: text-after-edge;
}

.b-products {
  background-color: #2D2D2D;
  float: left;
  width: 348px;
  min-height: 380px;
  margin-right: 1.3rem;
}
.b-products .b-title {
  background-color: #434343;
  display: block;
  font-size: 20px;
  margin-bottom: 0;
  margin-left: 0;
  padding-bottom: 1.7rem;
  padding-top: 2rem;
  text-align: center;
}
.b-products__legend {
  color: #c6c6c6;
  float: right;
  font-size: 14px;
  line-height: 1.9;
  padding-right: 1.7rem;
  padding-top: 1.3rem;
}
.b-products__legend span {
  padding-right: 1rem;
}
.b-products__legend .products {
  color: #5ca395;
}
.b-products__legend .reviewed {
  color: #24FF94;
}
.b-products .ct-products {
  clear: both;
  float: left;
  padding-top: 0.5rem;
}
.b-products .ct-products .ct-label {
  font-size: 30px;
  dominant-baseline: text-after-edge;
}

.b-visits {
  background-color: #2D2D2D;
  float: left;
  height: 433px;
  margin-right: 1.1rem;
  margin-top: 1.3rem;
  width: 1094px;
}
.b-visits .b-title {
  float: left;
  font-size: 25px;
  letter-spacing: 0.05rem;
  margin-bottom: 0;
  margin-left: 0;
  padding-bottom: 1.9rem;
  padding-left: 2.5rem;
  padding-top: 0.2rem;
  padding-top: 1.6rem;
}
.b-visits .c-dropdown {
  margin-right: 6.2rem;
  margin-top: 1rem;
}
.b-visits .ct-visits {
  clear: both;
  float: left;
}

.b-list-admins {
  background-color: #2D2D2D;
  float: left;
  width: 357px;
}
.b-list-admins .b-title {
  background-color: #434343;
  display: block;
  font-size: 20px;
  margin-bottom: 0;
  margin-left: 0;
  padding-bottom: 2rem;
  padding-top: 1.6rem;
  text-align: center;
}
.b-list-admins .b-list-wrapper {
  display: block;
  height: 403px;
  margin-bottom: 1rem;
}
.b-list-admins .b-list-wrapper li {
  border-bottom: solid 1px #767676;
  float: left;
  padding-bottom: 1.05rem;
  padding-top: 1.05rem;
  width: 340px;
}
.b-list-admins__avatar {
  display: block;
  float: left;
  padding-left: 1rem;
  vertical-align: middle;
  width: 68px;
}
.b-list-admins__avatar img {
  background-color: #748092;
  border-radius: 2rem;
  height: 54px;
  padding: 0.12rem;
  width: 54px;
  display: block;
  margin-bottom: 0.62rem;
}
.b-list-admins__avatar .job-title {
  font-size: 12px;
  color: #5ca395;
  margin-left: 0.12rem;
  text-align: center;
}
.b-list-admins__content {
  display: block;
  float: left;
  letter-spacing: 0.015rem;
  line-height: 1.2;
  min-height: 76px;
  padding-left: 1rem;
  padding-top: 0.4rem;
  position: relative;
  width: 267px;
}
.b-list-admins__content .info .name {
  color: #fff;
  font-size: 16px;
}
.b-list-admins__content .info .action {
  color: #c6c6c6;
  font-size: 14px;
}
.b-list-admins__content .status {
  bottom: 0;
  font-size: 12px;
  position: absolute;
  right: 0;
  text-align: right;
}
.b-list-admins__content .status .inactive {
  color: #676767;
}
.b-list-admins__content .status .active {
  color: #24FF94;
}
.b-list-admins .mCSB_inside > .mCSB_container {
  margin-right: 0;
}

.c-dropdown {
  display: inline-block;
  float: right;
  margin-right: 1.2rem;
  /* Code blocks */
  /* Inline code */
}
.c-dropdown__title {
  color: #c6c6c6;
  letter-spacing: 0.05rem;
  margin-right: 1.6rem;
}
.c-dropdown .nice-select {
  -webkit-tap-highlight-color: transparent;
  border-radius: 2rem;
  border: solid 1px #c6c6c6;
  color: #c6c6c6;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 22px;
  padding-right: 42px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
  min-width: 158px;
}
.c-dropdown .nice-select:hover {
  border-color: #d0dae5;
}
.c-dropdown .nice-select:active, .c-dropdown .nice-select.open, .c-dropdown .nice-select:focus {
  border-color: #c6c6c6;
}
.c-dropdown .nice-select:after {
  border-bottom: 2px solid #c6c6c6;
  border-right: 2px solid #c6c6c6;
  content: '';
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 5px;
}
.c-dropdown .nice-select.open:after {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.c-dropdown .nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}
.c-dropdown .nice-select.disabled {
  border-color: #e7ecf2;
  color: #90a1b5;
  pointer-events: none;
}
.c-dropdown .nice-select.disabled:after {
  border-color: #f9f9f9;
}
.c-dropdown .nice-select.wide {
  width: 100%;
}
.c-dropdown .nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}
.c-dropdown .nice-select.right {
  float: right;
}
.c-dropdown .nice-select.right .list {
  left: auto;
  right: 0;
}
.c-dropdown .nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}
.c-dropdown .nice-select.small:after {
  height: 4px;
  width: 4px;
}
.c-dropdown .nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}
.c-dropdown .nice-select .list {
  background-color: #292929;
  box-shadow: 0 0 0 1px rgba(68, 88, 112, 0.11);
  box-sizing: border-box;
  margin-top: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}
.c-dropdown .nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}
.c-dropdown .nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 22px;
  padding-right: 33px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.c-dropdown .nice-select .option:hover, .c-dropdown .nice-select .option.focus, .c-dropdown .nice-select .option.selected.focus {
  background-color: #222222;
}
.c-dropdown .nice-select .option.selected {
  font-weight: bold;
}
.c-dropdown .nice-select .option.disabled {
  background-color: transparent;
  color: #90a1b5;
  cursor: default;
}
.c-dropdown .no-csspointerevents .nice-select .list {
  display: none;
}
.c-dropdown .no-csspointerevents .nice-select.open .list {
  display: block;
}
.c-dropdown code[class*="language-"],
.c-dropdown pre[class*="language-"] {
  border-radius: 2px;
  color: #445870;
  hyphens: none;
  line-height: 1.5;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  direction: ltr;
  font-family: Inconsolata, monospace;
  font-size: 13px;
  letter-spacing: 0;
}
.c-dropdown pre[class*="language-"] {
  padding: 18px 24px;
  margin: 0 0 24px;
  overflow: auto;
}
.c-dropdown :not(pre) > code[class*="language-"],
.c-dropdown pre[class*="language-"] {
  background: #f6f7f9;
}
.c-dropdown :not(pre) > code[class*="language-"] {
  padding: 0 2px 1px;
}
.c-dropdown .token.comment,
.c-dropdown .token.prolog,
.c-dropdown .token.doctype,
.c-dropdown .token.cdata {
  color: #90a1b5;
}
.c-dropdown .token.punctuation {
  color: #999;
}
.c-dropdown .namespace {
  opacity: .7;
}
.c-dropdown .token.property,
.c-dropdown .token.tag,
.c-dropdown .token.boolean,
.c-dropdown .token.number,
.c-dropdown .token.constant,
.c-dropdown .token.symbol,
.c-dropdown .token.deleted {
  color: #EC4444;
}
.c-dropdown .token.selector,
.c-dropdown .token.attr-name,
.c-dropdown .token.string,
.c-dropdown .token.char,
.c-dropdown .token.builtin,
.c-dropdown .token.inserted {
  color: #4ABF60;
}
.c-dropdown .token.operator,
.c-dropdown .token.entity,
.c-dropdown .token.url,
.c-dropdown .language-css .token.string,
.c-dropdown .style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}
.c-dropdown .token.atrule,
.c-dropdown .token.attr-value,
.c-dropdown .token.keyword {
  color: #55a1fb;
}
.c-dropdown .token.function {
  color: #DD4A68;
}
.c-dropdown .token.regex,
.c-dropdown .token.important,
.c-dropdown .token.variable {
  color: #e90;
}
.c-dropdown .token.important,
.c-dropdown .token.bold {
  font-weight: bold;
}
.c-dropdown .token.italic {
  font-style: italic;
}
.c-dropdown .token.entity {
  cursor: help;
}

.c-btn {
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 2.5;
  padding: 0 2.5rem;
  border: solid transparent 0px;
  text-decoration: none;
  cursor: pointer;
}
.c-btn-primary {
  background-color: #34B2A5;
  background-image: -moz-linear-gradient(left, #34B2A5 0%, #39CB9F 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #34B2A5), color-stop(100%, #39CB9F));
  background-image: -webkit-linear-gradient(left, #34B2A5 0%, #39CB9F 100%);
  background-image: -o-linear-gradient(left, #34B2A5 0%, #39CB9F 100%);
  background: -ms-linear-gradient(left, #34B2A5 0%, #39CB9F 100%);
  background: linear-gradient(to right, #34B2A5 0%, #39CB9F 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
}

.w-calendar {
  background-color: #2D2D2D;
  float: left;
  width: 356px;
  min-height: 380px;
}
.w-calendar .b-calendar .simple-event-calendar .calendar-month {
  font-size: 20px;
  margin-bottom: 0;
  margin-left: 0;
  padding: 2rem 1.7rem 1.7rem 1.7rem;
  text-align: center;
  color: #c6c6c6;
  background-color: #434343;
}
.w-calendar .b-calendar .simple-event-calendar .calendar-month .right-open-mini, .w-calendar .b-calendar .simple-event-calendar .calendar-month .left-open-mini {
  display: block;
  vertical-align: middle;
  text-decoration: none;
  padding: 0 10px;
}
.w-calendar .b-calendar .simple-event-calendar .calendar-month .right-open-mini {
  float: right;
}
.w-calendar .b-calendar .simple-event-calendar .calendar-month .left-open-mini {
  float: left;
}
.w-calendar .b-calendar .simple-event-calendar table {
  border-collapse: collapse;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  width: 85%;
}
.w-calendar .b-calendar .simple-event-calendar table th, .w-calendar .b-calendar .simple-event-calendar table td {
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}
.w-calendar .b-calendar .simple-event-calendar table .week-cell {
  text-transform: uppercase;
  font-size: 14px;
  color: #c6c6c6;
  padding-bottom: 1.8rem;
}
.w-calendar .b-calendar .simple-event-calendar table td .date {
  border-radius: 30px;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 16px;
  height: 30px;
  line-height: 1.8;
  margin: 0 auto 0.56rem;
  width: 30px;
}
.w-calendar .b-calendar .simple-event-calendar table td .date .circle {
  display: none;
}
.w-calendar .b-calendar .simple-event-calendar table .today .date {
  background-color: #5ca395;
}
.w-calendar .b-calendar .simple-event-calendar table .has-event {
  position: relative;
}
.w-calendar .b-calendar .simple-event-calendar table .has-event .date:hover {
  background-color: #5ca395;
  cursor: pointer;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.w-calendar .b-calendar .simple-event-calendar table .has-event .date:hover .circle {
  display: none;
}
.w-calendar .b-calendar .simple-event-calendar table .has-event .date .circle {
  display: block;
  font-size: 8px;
  position: relative;
  top: -0.35rem;
  color: #24FF94;
}
.w-calendar .b-calendar--homepage .events-list {
  display: none;
}

.page-login {
  margin: 0 auto;
  height: 100vh;
  width: 100vh;
  display: table;
  vertical-align: top;
  text-align: center;
}
.page-login__title {
  text-transform: uppercase;
  color: #5ca395;
  font-weight: 600;
  font-size: 45px;
  margin: 2.8rem 0 5.5rem 0.5rem;
  letter-spacing: 0.06rem;
}
.page-login-wrapper {
  display: table-cell;
  vertical-align: top;
  position: relative;
}
.page-login__b-logo {
  background-color: #171717;
  border: 2px solid #5a5a5a;
  border-radius: 79px;
  height: 101px;
  left: 43%;
  padding: 1rem 0 0;
  position: absolute;
  text-align: center;
  top: -11%;
  width: 102px;
}
.page-login__b-logo img {
  left: -2px;
  margin: 0 auto;
  position: relative;
  top: 2px;
}
.page-login-content {
  background-color: #2F2F2F;
  width: 565px;
  height: 465px;
  margin: 0 auto;
  position: relative;
  padding-top: 5.5rem;
}
.page-login-form {
  max-width: 270px;
  margin: 0 auto;
  text-align: left;
}
.page-login-form .note-welcome {
  color: #ACADAD;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3rem;
  text-align: left;
}
.page-login-form .note-message {
  color: #ACADAD;
  text-align: right;
  font-size: 12px;
  margin-top: 0.35rem;
  margin-bottom: 1.3rem;
}
.page-login-form .form-group {
  margin-top: 1.75rem;
}
.page-login-form .control-label {
  font-size: 14px;
  margin-bottom: 2.1rem;
}
.page-login-form .control-label input {
  margin: 0 6px 0 -2px;
  width: auto;
  border-radius: 0;
  line-height: normal;
}
.page-login-form .c-btn {
  float: right;
  margin-right: 0.5rem;
  display: inline-block;
  width: 125px;
}

.page-password {
  margin: 0 auto;
  height: 100vh;
  width: 100vh;
  display: table;
  vertical-align: top;
  text-align: center;
}
.page-password__title {
  color: #ACADAD;
  font-weight: 600;
  font-size: 25px;
  margin: 1.5rem 0 2.5rem 0;
}
.page-password-wrapper {
  display: table-cell;
  vertical-align: top;
  position: relative;
}
.page-password__b-logo {
  text-align: center;
  border: none;
  padding: 3.9rem 0 0 0;
}
.page-password__b-logo img {
  margin: 0 auto;
}
.page-password-content {
  width: 400px;
  margin: 0 auto;
}
.page-password-content .note-message {
  color: #ACADAD;
  font-size: 14px;
  margin-top: 0.35rem;
  margin-bottom: 2.7rem;
  line-height: 1.2;
}
.page-password-form form input {
  border-color: #505050;
  color: #505050;
  padding: 0 1rem;
}
.page-password-form .form-group {
  margin-top: 1.75rem;
}
.page-password-form .c-btn {
  display: block;
  width: 100%;
  margin-top: 3rem;
  color: #fff;
}

.page-thanks {
  margin: 0 auto;
  height: 100vh;
  width: 100vh;
  display: table;
  vertical-align: top;
  text-align: center;
}
.page-thanks__title {
  color: #ACADAD;
  font-weight: 600;
  font-size: 25px;
  margin: 1.5rem 0 1.6rem;
}
.page-thanks-wrapper {
  display: table-cell;
  vertical-align: top;
  position: relative;
}
.page-thanks__b-logo {
  text-align: center;
  border: none;
  padding: 3.9rem 0 0 0;
}
.page-thanks__b-logo img {
  margin: 0 auto;
}
.page-thanks-content {
  width: 440px;
  margin: 0 auto;
}
.page-thanks-content .note-message {
  color: #ACADAD;
  font-size: 14px;
  margin-bottom: 4.2rem;
  line-height: 1.2;
}
.page-thanks-content .c-btn {
  display: block;
  width: 100%;
  margin: 3rem auto 0;
  width: 90%;
}
.page-thanks-content .c-btn:hover {
  color: #fff;
}

.clearfix:after, .wrapper-main:after, .page-password-content:after, .page-thanks-content:after {
  content: "";
  display: table;
  clear: both;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
select {
  box-sizing: inherit;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
                        /* Black prints faster:
http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
