//-------------------------
//-------------------HEADER block header user
//-------------------------

&__user {
  display: inline-block;
  float: right;
  margin-top: 1.8rem;
  &-data {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
    line-height: 1.3;
  }
  &-avatar {
    display: inline-block;
    position: relative;
    top: -0.7rem;
    vertical-align: middle;
    img {
      border-radius: 2rem;
    }
  }
  &-name {
    font-size: 16px;
    color: $silver;
  }
  &-role {
    font-size: 14px;
    color: $keppel;
  }
}
