//-------------------------
//-------------------HEADER
//-------------------------
.b-header {
  height: 97px;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
  &__inner {
    height: 97px;
    margin: 0 auto;
    padding: 0 2rem 0 13.55rem;
    position: relative;
    width: 1336px;
    border-bottom: solid 1px $zambezi;
    background-color: $nightrider;
  }

  @import "block.header.user";
}
