//-------------------------
//-------------------LOGO
//-------------------------
.b-logo {
  border-bottom: solid 1px $zambezi;
padding: 11px 0 9px 0;
  text-align: center;
  img {
    margin: 0 auto;
    width: 20%;
    position: relative;
left: -14px;
  }
}
