//-------------------------
//-------------------LOGO
//-------------------------
.b-logo {
  border-bottom: solid 1px $zambezi;
  padding: 1.1rem 0 1.4rem;
  text-align: center;
  img {
    margin: 0 auto;
  }
}
