//-------------------------
//-------------------COMPONENT MODAL WINDOW with form
//-------------------------

&--receipt,
&--receipt-sum {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 10;
  &-inner {
    width: 1022px;
    height: 568px;
    margin: 0 auto;
    top: 25%;
    position: relative;
    background-color: $eron;
    padding: 1.6rem;
  }
  .receipt-info {
    font-size: 20px;
    text-transform: uppercase;
    color: $lightg;
    border-bottom: solid 1px $matterhorn;
    padding-bottom: 0.7rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  .col-left {
    float: left;
    width: 610px;
    margin-right: 3.6rem;
    color: $hit;
    &-bottom,
    &-top {
      float: left;
      width: 100%;
    }
    &-top {
      border-bottom: solid 1px $matterhorn;
      padding-bottom: 0.3rem;
      margin-bottom: 0.7rem;
      .col__item {
        float: left;
        width: 379px;
        &-title {
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 1.2rem;
          border: none;
          padding-bottom: 0;
        }
        &-image {
          background-color: $background;
          border: solid 1px $matterhorn;
          display: inline-block;
          height: 122px;
          width: 122px;
          margin: 0 auto 1rem;
          text-align: center;
          vertical-align: middle;
          span {
            display: inline-block;
            height: 121px;
            margin: 0 auto;
            position: relative;
            text-align: center;
            vertical-align: middle;
            padding: 1rem;
          }
          img {
            display: inline-block;
            height: 94px;
            margin: 0 auto;
            text-align: center;
            vertical-align: middle;
          }
        }
        &-info {
          display: inline-block;
          vertical-align: top;
          margin-left: 0.8rem;
          margin-top: 0.5rem;
          line-height: 1.3;
          .title {
            text-transform: uppercase;
            font-weight: bold;
            border: none;
            padding-bottom: 0;
            font-size: 16px;
            margin-bottom: 0;
          }
          .author {
            font-style: italic;
            border: none;
            margin-bottom: 0;
            padding-bottom: 0;
            font-size: 16px;
          }
          .product {
            font-weight: bold;
            border: none;
            margin-bottom: 0;
            padding-bottom: 0;
            font-size: 16px;
          }
        }
        &.price,
        &.qty,
        &.total {
          width: 77px;
          font-size: 14px;
          font-weight: bold;
        }
        &.price {
          text-align: left;
        }
        &.qty {
          text-align: center;
        }
        &.total {
          text-align: right;
        }
        .type {
          text-transform: uppercase;
          margin-bottom: 2rem;
          border-bottom: none;
          padding-bottom: 0;
        }
        .value {
          color: $lightg;
          border: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
    &-bottom {
      .list {
        display: block;
        float: left;
        > li {
          display: block;
          line-height: 2.3;
          color: $hit;
        }
        &--a {
          width: 135px;
          font-size: 12px;
        }
        &--b {
          width: 300px;
          font-size: 12px;
          > li {
            color: #f5f5f5;
          }
        }
        &--c {
          width: 88px;
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          > li {
            &:last-child {
              color: $keppel;
            }
          }
        }
        &--d {
          width: 87px;
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          text-align: right;
          > li {
            &:last-child {
              color: $keppel;
            }
          }
        }
      }
    }
  }
  .col-right {
    float: left;
    width: 296px;
  }
  .tracking-form {
    border: solid 1px $matterhorn;
    padding: 2.3rem 1rem;
    .form-group {
      margin-bottom: 1.2rem;
    }
    .form-group label {
      font-size: 16px;
      color: $hit;
      font-weight: normal;
      margin-bottom: 0.4rem;
    }
    .form-group .form-control {
      border-radius: 17px;
    }
    .btns {
      text-align: center;
      margin-top: 2rem;
      .c-btn {
        float: none;
        display: block;
        margin: 0 auto;
      }
      .link {
        font-size: 14px;
        font-style: italic;
        color: $keppel;
        display: block;
        margin-top: 0.9rem;
      }
    }
  }
}

&--receipt-sum {
  .c-modal--receipt-inner {
    height: auto;
    @extend .clearfix;
  }
  .c-modal__btn-close {
    top: -1.5rem;
  }
  .title {
    color: $keppel;
    border: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: none;
    display: inline-block;
  }
  .dhl-link {
    display: inline-block;
    float: right;
    font-size: 14px;
    font-style: italic;
    color: $keppel;
  }
  .col-full {
    float: left;
    width: 100%;
    margin-top: 3.5rem;
    &-top {
      float: left;
      border-bottom: solid 1px $matterhorn;
      padding-bottom: 2.8rem;
      .list {
        display: inline-block;
        > li {
          color: $white;
          font-weight: bold;
          line-height: 1.6;
          display: block;
          @extend .clearfix;
          span {
            display: block;
            float: left;
            min-width: 146px;
          }
          p {
            color: $hit;
            font-weight: normal;
            margin-left: 1rem;
            overflow-wrap: break-word;
            display: block;
            width: 232px;
            float: left;
            padding-right: 0.8rem;
            margin-bottom: 0;
            border-bottom: 0;
            padding-bottom: 0;
            font-size: 16px;
          }
          .status {
            color: $keppel;
          }
        }
      }
      &__left {
        display: block;
        float: left;
        width: 483px;
        padding-left: 5.5rem;
      }
      &__right {
        display: inline-block;
        overflow-wrap: break-word;
        display: block;
        float: left;
        width: 483px;
        padding-left: 2.8rem;
        border-left: solid 1px $matterhorn;
        .list {
          span {
            min-width: 137px;
          }
        }
      }
    }
    &-bottom {
      float: left;
      width: 100%;
      padding-top: 1.35rem;
      .title {
        display: block;
        margin-bottom: 2.8rem;
        border: none;
        padding-bottom: 0;
      }
      .list {
        display: block;
        float: left;
        width: 241px;
        > li {
          display: block;
          line-height: 1.8;
          color: $hit;
        }
        .list-title {
          color: $white;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: bold;
          line-height: normal;
          margin-bottom: 0.8rem;
        }
      }
    }
  }
}
