//-------------------------
//-------------------COMPONENT PROGRESS BAR
//-------------------------

.c-progressbar   {
	position: relative;
	top: 1.2rem;
	background-color:$background;
	height: 11px;
	line-height: 11px;
	border-radius: 10px;
 margin-bottom: 5.6rem;
	width: 97%;
	&__range {
		background-color:$keppel;
		color: $white;
		height: 11px;
		line-height: 11px;
		text-align: center;
		border-radius: 10px;
		left: 0;
		position: absolute;
		right: 0;
		z-index: 1;
		display: none;
	}
	&__wrapper {
		position: absolute;
		z-index: 1;
		width: 89%;
		top: -1rem;
		left: 7.8rem;
		.circle {
			border-color: $keppel;
			background-color: $nero;
			border-radius: 50px;
			border-style: solid;
			border-width: 2px;
			color: $white;
			display: inline-block;
			font-size: 18px;
			font-weight: bold;
			height: 45px;
			line-height: 2.3;
			margin-right: 10.1rem;
			position: relative;
			text-align: center;
			vertical-align: middle;
			width: 45px;
			&:nth-child(5) {
				margin-right: 0;
			}
			&-full {
				background-color: $keppel;
			}
		}
	}
}
