///------------------------------------
//    #TRUMPS
//------------------------------------

// Globaly available hacks or overwrits





//-------------------------
//    #Hacks
//-------------------------


 ////////////////////////////////////////////////////////////////////////////////
 //                                                                            //
 //                            WebKit Hacks                                    //
 //                                                                            //
 ////////////////////////////////////////////////////////////////////////////////

//
// 1. Ugly Mac OS fonts rendering and Firefox bolder rendering
// 2. User agent stylesheet default is box-sizing: border-box
// 3. Webkit custom input search
//


 html {
   -webkit-font-smoothing: antialiased; // 1
   -moz-osx-font-smoothing: grayscale;// 1
 }


 input,
 textarea,
 select {
   box-sizing: inherit; // 2
 }


 input[type="search"] {
   -webkit-appearance: textfield; // 3
 }

 input[type="search"]::-webkit-search-cancel-button {
   display: none; // 3
 }

 //overwrite values of nice select on pages with tables
 .b-table--admin-assistant .nice-select {
    height: 33px;
    line-height: 32px;
}

//set sweet alert to center of the page
.sweet-alert {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

//overwrite owl
.owl-theme .owl-nav {
    position: absolute;
    top: 38%;
    width: 100%;
}
.owl-prev,
.owl-next {
    position: absolute;
}
.owl-prev {
    left:0;
}
.owl-next {
    right:0;
}

.page-products-details .product-media .owl-carousel .owl-item img {
    width: auto;
}
//overwrite close button on full image preview
.lb-data .lb-close {
    position: absolute;
    right: 4rem;
    top: 0;
}
.lightbox .lb-image {
  border: none;
}


//zoran
.loader-mask {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.80);
  z-index: 10000;
}

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 16px solid rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  border-top: 16px solid rgba(255, 255, 255, 1);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  -ms-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.s-bttn-wrapper {
  float: left;
}

.page-events .b-search__events .s-bttn-wrapper .form-group--left {
  margin-right: 25px;
}

.page-events .b-search__events .s-bttn-wrapper .form-group {
  display: inline-block;
  width: 104px;
  float: left;
  position: relative;
}

#reset-filter {
  background-color: #f04246 !important;
  padding: 0 2.0rem;
}

.hot-dot {
  display: none;
  position: absolute;
  width: 5px;
  height: 5px;
  background: #24ff94;
  border-radius: 3px;
  margin-top: 14px;
  margin-left: 10px;
}


//temp
.sale-order__received {color: #f04246;}
.sale-order__processing  {color: #fbb76e;}
.sale-order__delivered  {color: #5ca395;}


//overwrite height modal on products-enquiry-price.html
.c-modal-inner.c-modal--form-inner.enquiry-price {
  height: 335px;
}
