//-------------------------
//-------------------BLOCK LIST PRESS
//-------------------------
.b-list-press {
  @extend .clearfix;
  position: relative;
  table-layout: fixed;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
  float: left;
  width: 100%;
  margin-top: 1rem;
  &__details {
    display: block;
    border-bottom: solid 1px #404040;
    padding: 0.6rem 0.5rem;
  }
  &__preview {
    display: table-row;
    .col {
      display: table-cell;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: middle;
    }



    .blog-press__teaser {
      display: inline-block;
      height: 37px;
      vertical-align: middle;
      width: 60px;
      overflow: hidden;
      position: relative;
      a, span {
        display: inline-block;
        div {
          width: 60px;
          height: 37px;
        }
      }
    }
    .blog-title {
      display: block;
      font-size: 16px;
      font-style: italic;
      a {
        color: $keppel;
      }
    }
    .blog-date {
      color: $silver;
      font-size: 14px;
    }
    .remove-post  {
      font-style: italic;
      font-size: 14px;

    }
    .remove-post {
      color:$amaranth;
    }
  }
  &.hasImage {
      .col-1 {
        width:60px;
      }
      .col-2 {
        width:602px;
        padding-left: 11px;
        padding-right: 11px;
        overflow-wrap: break-word;
        display: block;
        text-overflow: initial;
        white-space: pre-line;
      }
      .col-3 {
        width: 256px;
      }
      .col-4 {
        width: 50px;
      }
  }

  &.noImage {
      .b-list-press__preview {
          .col-1 {
            width:592px;
            overflow-wrap: break-word;
            display: block;
            text-overflow: initial;
            white-space: pre-line;
          }
          .col-2 {
            width:314px;
            padding-left: 11px;
            padding-right: 11px;

          }
          .col-3 {
            width:80px;
          }
      }
  }

}
