//-------------------------
//-------------------COMPONENT BUTTONS
//-------------------------

&-secondary-lighter {
    background-color: transparent;
    border:solid 1px  $amaranth;
    color: $amaranth;
    &:hover {
      color: $white;
    }
}
