//-------------------------
//-------------------COMPONENT BUTTONS
//-------------------------

&-transparent {
  background-color: $nightrider;
  border: solid 1px $white;
    color: $white;
    &:hover {
      color: $white;
    }
    &--green {
      border: solid 1px  $hamrock;
      background-color: $nightrider;
      color: $white;
      &:hover {
        color: $white;
      }
    }
    &--red {
      border: solid 1px  $amaranth;
      background-color: $nightrider;
      color: $white;
      &:hover {
        color: $white;
      }
    }
    
}
