//-------------------------
//-------------------COMPONENT BUTTONS
//-------------------------

&-rejected {
color: $amaranth;
font-weight: normal;
display: inline-block;
vertical-align: middle;
font-size: 16px;
line-height: normal;
font-style: italic;
    &:hover {
      color:$amaranth;
    }
    &:before {
        content: "\e819";
        font-family: $iconFontello;
        font-size: 16px;
        right: 0.2rem;
        position: relative;
        display: inline-block;
        vertical-align: top;
        font-style: normal;
    }
}
